header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 10%;
  background-color: black;
  text-align: center;
  color: white;
  font-family: 'Staatliches', cursive;
}


#conteneur{
  display: flex;
  justify-content: space-around;
  margin: 1%;
}

.nl {
  width: 150px;
  margin: 30px;
  border: 3px solid white;
  border-radius: 15px 15px;
  white-space: nowrap;
}

.nl2 {
  margin: 30px;
  white-space: nowrap;
  transform: translateY(20%);
}

h5 {
  transform: translateY(20%);
}

.logo{
  align-self: flex-end;
}

.logo:nth-child(1){
    margin-right:10px;
    filter: invert(1);
}

.logo:nth-child(2){
    margin-right:10px;
    align-self: flex-end;
}

.logo:nth-child(3){
    align-self: flex-end;
    margin-right: auto;
}

body {
  font-size: 20px;
  text-align: left;
  color: white;
  background-color: #1ba4f0;
  font-family: 'Lobster Two', cursive;
}

.row{
  margin-top: 50px;
}
#texte{
  width: 440px;
}

#texte2{
  font-size: 30px;
  font-family: 'Staatliches', cursive;
}

.modal-header{
	background-color: #497585;
}
.modal-body{
	background-color: #005f82;
}

.modal-footer{
	background-color: #497585;
}

img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}

img[usemap2] {

    border: none;
    height: auto;
    max-width: 80%;
    width: auto;
}

#background{
  background-image: url(https://raw.githubusercontent.com/hifrcy/landing-page/dev/image/fond.png);
  width: 150px;
}

form{
  font-family: 'Staatliches', cursive;
}
