header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 10%;
  background-color: black;
  text-align: center;
  color: white;
}


#conteneur{
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.nl {
  width: 150px;
  margin: 30px;
  max-height: 80px;
  border: 3px solid white;
  border-radius: 15px 15px;
  font-family: 'Staatliches', cursive;
}

.logo{
  flex: 1;
  width: 64px;
}

.logo:nth-child(1){
    align-self: flex-end;
    filter: invert(1);
}

.logo:nth-child(2){
    align-self: flex-end;
}

img {
    width: 64px;
}


body {
    font-size: 20px;
    color: white;
    background-color: #0094ab;
    font-family: 'Staatliches', cursive;
}

h1, h2, h3 {
  margin-top: 3%;
}

p {
    line-height: 1.5;
    margin: 30px 0;
}

p a {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 750;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
